.pokemon-grid{
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
}
.pokemon-grid .box{
    width: 100%;
    box-shadow: 1px 2px 5px rgb(44, 114, 184);
    display: grid;
    text-align:center;
    border-radius: 2%;
}
.pokemon-grid .box img{
    max-width:100px;
    display:block;
    margin: 0 auto;

}

.buttonlist {
    background-color: #4CAF50; /* Green */
    border-color: #4CAF50;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }